@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #040316;

    --background: 0 0% 92.55%;
    --foreground: 280 100% 4.71%;

    --primary: 281.95 100% 46.27%;
    --primary-foreground: 281.74 85.19% 94.71%;

    --card: 285 85.71% 97.25%;
    --card-foreground: 280 100% 4.71%;

    --popover: 0 0% 100%;
    --popover-foreground: 280 100% 4.71%;

    --secondary: 282.86 85.37% 91.96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 281.74 85.19% 94.71%;
    --muted-foreground: 0 0% 40%;

    --accent: 281.74 85.19% 94.71%;
    --accent-foreground: 282.86 100% 6.86%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 282.13 85.45% 89.22%;
    --input: 282 30.61% 80.78%;
    --ring: 281.95 100% 46.27%;

    --chart-1: 281.95 100% 46.27%;
    --chart-2: 282.09 86.27% 54.31%;
    --chart-3: 282.08 86.52% 65.1%;
    --chart-4: 282 86.67% 70.59%;
    --chart-5: 282.45 85.48% 75.69%;

    --radius: 0.5rem;
  }
  .dark {
    --text: #eae9fc;

    --background: 0 0% 0%;
    --foreground: 282.86 85.37% 91.96%;

    --primary: 281.95 100% 46.27%;
    --primary-foreground: 281.74 85.19% 94.71%;

    --card: 280 31.03% 5.69%;
    --card-foreground: 282.86 85.37% 91.96%;

    --popover: 0 0% 0%;
    --popover-foreground: 282.86 85.37% 91.96%;

    --secondary: 281.93 100% 16.27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 60.39%;

    --accent: 0 0% 36.08%;
    --accent-foreground: 282.86 85.37% 91.96%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 282.13 100% 9.22%;
    --input: 282.5 24% 19.61%;
    --ring: 281.95 100% 46.27%;

    --chart-1: 281.95 100% 46.27%;
    --chart-2: 281.79 100% 39.41%;
    --chart-3: 281.96 100% 30%;
    --chart-4: 282 100% 25.49%;
    --chart-5: 281.89 100% 20.78%;

    --radius: 0.5rem;
  }
}
@layer base {
  #app {
    --text: #040316;

    --background: 0, 0%, 100%;

    --foreground: 266, 100%, 64%;

    --radius: 0.5rem;
  }
  #app .dark {
    --text: #eae9fc;

    --radius: 0.5rem;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  direction: rtl;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
